*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'poppins', sans-serif;
    overflow-y: scroll;
    
}

.navbar{
    display:flex;
    align-items: center;
    padding:20px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.SearchText
{
   border:solid 1px #AA822F;
   border-radius:4px; 
   padding:4px;
   padding-left:32px;
   width:180px;
   height:18px;
}

.SearchButton
{
   border:none;
   background-color:transparent;
   margin-right: 24px;
   margin-left:-24px;
   line-height:16px;
   height:16px;
   cursor:pointer;
   
}

.SearchButton:before
{
   font-size:16px;
   font-family: 'MG_Icons', 'MG_Icons24';
   content: "\e72c"; /*magnifying-glass*/
   color: #ffffff;
}



.content-text .btn{
    width:140px;
    height:45px;
    color:#fff;
    border-radius: 25px;
    background:#4d72d0;
    cursor: pointer;
    border:2px solid #4d72d0;
    font-weight:bold;
    margin-left:90%;
    margin-top: 0%;
    transition: .5s;
    display:block;
}
.content-text .btn:hover{
    background:transparent;
}



.nav-menu{
    position:absolute;
    top:150;
    left:0;
    width:100%;
    height:50px;
    padding:10px 90px;
    box-sizing: border-box;
    background: rgba(255, 253, 253, 0.6);
    border-bottom: 1px solid rgb(3, 3, 3);
    
}
.nav-menu ul{
    list-style: none;
    float:right;
    margin:0;
    padding:0;
    
}
.nav-menu ul li a{
    line-height: 20px;
    color:rgb(7, 7, 7);
    padding:12px 30px;
    text-decoration: none;
    font-size:14px;
    font-weight:bold;
}
.nav-menu ul li a:hover{
    background: rgba(0,0,0,0.7);
    border-radius: 6px;
}




.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ffffff;
}


/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}


/* Nav Meu Container */

#nav-menu-container {
    /*  float: right;*/
    margin: 0;
}

@media (min-width: 1024px) {
    #nav-menu-container {
        padding-right: 60px;
    }
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}


/* Nav Meu Styling */

.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: block;
    color: rgb(7, 7, 7);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
}

.nav-menu li:hover>a,
.nav-menu>.menu-active>a {
    color: #18d26e;
}

.nav-menu>li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: rgb(255, 255, 255);
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
}

.nav-menu ul li:hover>a {
    color: #18d26e;
}

.nav-menu ul ul {
    margin: 0;
}


.slider{
    position: relative;
    width:100%;
    overflow: hidden;
}
.images{
    display: flex;
    width:100%;
}
.images img{
    height:300px;
    width:100%;
    transition: all 0.15s ease;
    margin-top: 2%;
}
.images input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin:5px;
}
.dots label{
    height:20px;
    width:20px;
    border-radius:50%;
    border: solid rgb(10, 10, 10) 3px;
    cursor: pointer;
    transition:all 0.15s ease;
    margin:5px;
}
.dots label:hover{
    background: rgb(17, 17, 17);
}
#img1:checked ~ .m1{
    margin-left: 0;
}
#img2:checked ~ .m2{
    margin-left: -100%;
}
#img3:checked ~ .m3{
    margin-left: -200%;
}
#img4:checked ~ .m4{
   margin-left: -300%;
}

.slider h1{
    text-align: center;
}

.small-container{
    max-width: 1080px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-height: 100px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width:50%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    content: '';
    background: #ff523b;
    width:80px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}


h2{
    color:#555;
    font-weight:normal;
    text-align: left;  
}
 p{
    font-size:14px;
    text-align: left;
}
.rating{
    text-align: left;
}
.rating .fa{
    color:#ff523b;
    text-align: left;
}

html {
    scroll-behavior: smooth;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.section{
      margin:0;
      padding:0;
      height:100vh;
      display:flex;
      justify-content: center;
      align-items: center;
  }


 